html {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

:root {
  --bg-green: #a2c131;
  --bg-white: #fff;
  --bg-red: #eb5757;
}
#main-footer {
  background: #005f27;
}
#main-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main-navbar .nav-right-content .nav-item {
  margin: 0 5px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 100px;
}

.default-radius {
  border-radius: 100px;
}

#main-navbar .cart-price {
  padding: 0 10px;
}
.text-underline {
  text-decoration: underline;
}
.bg-primary {
  background-color: var(--bg-green) !important;
}
.bg-white {
  background-color: var(--bg-white);
}
a.nav-link.active {
  color: var(--bg-green) !important;
  text-decoration: underline;
}
#featured-events a,
#winter-fair-section a {
  text-decoration: none;
}

#featured-events .featured-events-1-background {
  background-image: url("/img/autumns-show.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
}

#featured-events .featured-events-2-background {
  background-image: url("/img/featured-events-2.jpeg");
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 20px;
}

#featured-events .dark-overlay .featured-content {
  padding: 10px;
  position: absolute;
  bottom: 5%;
}

.book-button {
  font-weight: bolder;
  padding: 5px 20px;
  border-radius: 20px;
}
.calendar {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 10px;
  border-radius: 20px;
  display: inline-flex;
}
.calendar-green {
  background-color: rgba(162, 193, 49, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-flex;
}
.text-green {
  color: var(--bg-green);
}

#upcoming-events .upcoming-event-background-1 {
  background-image: url("/img/local-artist-exibition-min.jpeg");
  height: 465px;
  background-size: cover;
  background-position: center;
}
#upcoming-events .upcoming-event-background-2 {
  background-image: url("/img/medical-science-fair-min.jpeg");
  height: 465px;
  background-size: cover;
  background-position: center;
}
#upcoming-events .upcoming-event-background-3 {
  background-image: url("/img/winter-lunapark-min.jpeg");
  height: 465px;
  background-size: cover;
  background-position: center;
}
#upcoming-events .upcoming-inner {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 20px;
}
#upcoming-events .upcoming-inner .upcoming-content {
  padding: 10px;
}

#winter-fair-section .winter-fair-background-1 {
  background-image: url("/img/featured-events-1.jpeg");
  height: 465px;
  background-position: center;
  position: relative;
}
#winter-fair-section .winter-fair-background-2 {
  background-image: url("/img/winter-fair-members-ticket.jpeg");
  height: 465px;
  background-position: center;
  position: relative;
}
#winter-fair-section .dark-overlay .winter-fair-content {
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 5%;
}
.go-back {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid var(--bg-green);
  border-radius: 100px;
}

.down-page {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.orange-link {
  color: #f5a003;
}
.more-info {
  background-color: rgba(235, 87, 87, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-flex;
}
.text-red {
  color: var(--bg-red);
}
.amount-button {
  font-weight: 700;
  background-color: #dbb71a;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  font-size: 14px;
}
.input-amount {
  width: 61.44px;
  margin: 0 3px;
  text-align: center;
}
#read-more-content {
  display: none;
}
#read_more {
  cursor: pointer;
}
.striketrought {
  text-decoration: line-through;
}

.continue {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--bg-green);
  border-radius: 100px;
}

#cart-overview .delete-item {
  color: #eb5757;
}
#cart-overview .donation {
  font-weight: 600;
  font-size: 15px;
  line-height: 136%;
  color: #00007e;
  background: #d0d0f6;
  border: 1px solid #00007e;
  padding: 15px;
  border-radius: 100px;
}
.your-order {
  padding: 45px 34px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.voucher-input {
  background: #f8f8f8;
  padding: 15px 26px;
}
#cart-overview #terms_and_conditions {
  width: 30px;
  height: 30px;
}
.donate-section {
  color: #00007e;
  background: #d0d0f6;
  padding: 10px;
  border: 3px solid #00007e;
  border-radius: 5px;
}
#donate-section input {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 10px;
}
#donate-section .donate-icon {
  width: 64px;
  height: 64px;
}
#login-background {
  background-image: url("/img/checkout.jpg");
  background-size: cover;
  height: 60vh;
  width: 100%;
}
#customer-info .login-input,
#login-form input {
  padding: 15px 26px;
  background: #f8f8f8;
}
.yellow-link,
.yellow-link:hover,
.yellow-link:active {
  color: #dbb71a;
}
.modal-body .login-btn,
#customer-info .login-btn,
#login-form .login-btn {
  background: #a2c131;
  border-radius: 100px;
  font-weight: bold;
}

#customer-info .back-btn,
#login-form .back-btn {
  border-radius: 100px;
  font-weight: bold;
  border-color: #a2c131;
}

.modal-body {
  padding: 36px;
}

.your-order-background {
  background-image: url("/img/checkout.jpg");
  background-size: cover;
  height: 10vh;
}

.flatpickr-day {
  color: #333;
  font-weight: bolder;
}

.flatpickr-day:hover {
  background-color: var(--bg-green);
  opacity: 0.8;
}
.flatpickr-day.selected {
  background-color: var(--bg-green);
  border-color: var(--bg-green);
}

.modal-body {
  padding: 16px;
}
.fixed-width {
  width: 180px;
}

@media only screen and (min-width: 1200px) {
  .your-order {
    padding: 45px 34px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: fixed;
    right: 13px;
  }
}

.h-fit-content{
  height: fit-content;
}

.ts-position{
  top: 20%;
}